Proyecto Integrador M4 Python

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\54116\Desktop\Henry\M4 - Python\data_latinoamerica.csv")

In [3]:
print(df.head())

  location_key        date country_code country_name  new_confirmed  \
0           AR  2020-01-01           AR    Argentina            3.0
1           AR  2020-01-02           AR    Argentina           14.0
2           AR  2020-01-03           AR    Argentina            3.0
3           AR  2020-01-04           AR    Argentina            7.0
4           AR  2020-01-05           AR    Argentina            5.0

   new_deceased  cumulative_confirmed  cumulative_deceased  \
0           0.0                   3.0                  0.0
1           0.0                  17.0                  0.0
2           0.0                  20.0                  0.0
3           0.0                  27.0                  0.0
4           0.0                  32.0                  0.0

   cumulative_vaccine_doses_administered  population  ...  \
0                                    NaN  44938712.0  ...
1                                    NaN  44938712.0  ...
2                                    NaN  44938712.0  ...
3                                    NaN  44938712.0  ...
4                                    NaN  44938712.0  ...

   population_largest_city  area_rural_sq_km  area_urban_sq_km  \
0               15057273.0         2690269.0           55032.0
1               15057273.0         2690269.0           55032.0
2               15057273.0         2690269.0           55032.0
3               15057273.0         2690269.0           55032.0
4               15057273.0         2690269.0           55032.0

   life_expectancy  adult_male_mortality_rate  adult_female_mortality_rate  \
0            76.52                    147.086                       79.483
1            76.52                    147.086                       79.483
2            76.52                    147.086                       79.483
3            76.52                    147.086                       79.483
4            76.52                    147.086                       79.483

   pollution_mortality_rate  comorbidity_mortality_rate  new_recovered  \
0                      26.6                        15.8            NaN
1                      26.6                        15.8            NaN
2                      26.6                        15.8            NaN
3                      26.6                        15.8            NaN
4                      26.6                        15.8            NaN

   cumulative_recovered
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

[5 rows x 50 columns]

In [4]:
df.shape

(12216057, 50)

Seleccionar los países donde se expandirán: Colombia, Argentina, Chile, México, Perú y Brasil.

In [5]:
# Lista de países a filtrar
paises_seleccionados = ['CO', 'AR', 'CL', 'MX', 'PE', 'BR']

# Filtrar el DataFrame para obtener solo los datos de los países seleccionados
df_filtrado = df[df['country_code'].isin(paises_seleccionados)]

# Mostrar el DataFrame filtrado
print(df_filtrado.head())

  location_key        date country_code country_name  new_confirmed  \
0           AR  2020-01-01           AR    Argentina            3.0
1           AR  2020-01-02           AR    Argentina           14.0
2           AR  2020-01-03           AR    Argentina            3.0
3           AR  2020-01-04           AR    Argentina            7.0
4           AR  2020-01-05           AR    Argentina            5.0

   new_deceased  cumulative_confirmed  cumulative_deceased  \
0           0.0                   3.0                  0.0
1           0.0                  17.0                  0.0
2           0.0                  20.0                  0.0
3           0.0                  27.0                  0.0
4           0.0                  32.0                  0.0

   cumulative_vaccine_doses_administered  population  ...  \
0                                    NaN  44938712.0  ...
1                                    NaN  44938712.0  ...
2                                    NaN  44938712.0  ...
3                                    NaN  44938712.0  ...
4                                    NaN  44938712.0  ...

   population_largest_city  area_rural_sq_km  area_urban_sq_km  \
0               15057273.0         2690269.0           55032.0
1               15057273.0         2690269.0           55032.0
2               15057273.0         2690269.0           55032.0
3               15057273.0         2690269.0           55032.0
4               15057273.0         2690269.0           55032.0

   life_expectancy  adult_male_mortality_rate  adult_female_mortality_rate  \
0            76.52                    147.086                       79.483
1            76.52                    147.086                       79.483
2            76.52                    147.086                       79.483
3            76.52                    147.086                       79.483
4            76.52                    147.086                       79.483

   pollution_mortality_rate  comorbidity_mortality_rate  new_recovered  \
0                      26.6                        15.8            NaN
1                      26.6                        15.8            NaN
2                      26.6                        15.8            NaN
3                      26.6                        15.8            NaN
4                      26.6                        15.8            NaN

   cumulative_recovered
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

[5 rows x 50 columns]

In [6]:
df_filtrado.shape

(11970289, 50)

Filtra los datos en fechas mayores a 2021-01-01

In [7]:
# Convertir la columna 'date' a tipo datetime
df_filtrado['date'] = pd.to_datetime(df_filtrado['date'])

# Filtrar el DataFrame para obtener solo los datos con fechas mayores a 2021-01-01
df_filtrado = df_filtrado[df_filtrado['date'] > '2021-01-01']

# Mostrar el DataFrame filtrado
print(df_filtrado.head())

C:\Users\54116\AppData\Local\Temp\ipykernel_16364\1088445920.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['date'] = pd.to_datetime(df_filtrado['date'])

    location_key       date country_code country_name  new_confirmed  \
367           AR 2021-01-02           AR    Argentina         7767.0
368           AR 2021-01-03           AR    Argentina         4934.0
369           AR 2021-01-04           AR    Argentina        13953.0
370           AR 2021-01-05           AR    Argentina        14085.0
371           AR 2021-01-06           AR    Argentina        14496.0

     new_deceased  cumulative_confirmed  cumulative_deceased  \
367         166.0             1670634.0              46688.0
368         157.0             1675568.0              46845.0
369         157.0             1689521.0              47002.0
370         160.0             1703606.0              47162.0
371         131.0             1718102.0              47293.0

     cumulative_vaccine_doses_administered  population  ...  \
367                                20334.0  44938712.0  ...
368                                20529.0  44938712.0  ...
369                                25164.0  44938712.0  ...
370                                29852.0  44938712.0  ...
371                                34162.0  44938712.0  ...

     population_largest_city  area_rural_sq_km  area_urban_sq_km  \
367               15057273.0         2690269.0           55032.0
368               15057273.0         2690269.0           55032.0
369               15057273.0         2690269.0           55032.0
370               15057273.0         2690269.0           55032.0
371               15057273.0         2690269.0           55032.0

     life_expectancy  adult_male_mortality_rate  adult_female_mortality_rate  \
367            76.52                    147.086                       79.483
368            76.52                    147.086                       79.483
369            76.52                    147.086                       79.483
370            76.52                    147.086                       79.483
371            76.52                    147.086                       79.483

     pollution_mortality_rate  comorbidity_mortality_rate  new_recovered  \
367                      26.6                        15.8            NaN
368                      26.6                        15.8            NaN
369                      26.6                        15.8            NaN
370                      26.6                        15.8            NaN
371                      26.6                        15.8            NaN

     cumulative_recovered
367                   NaN
368                   NaN
369                   NaN
370                   NaN
371                   NaN

[5 rows x 50 columns]

In [8]:
num_valores_nulos = df_filtrado.isnull().sum()
columnas_filtradas = num_valores_nulos[num_valores_nulos < 4000000]
print(columnas_filtradas)

location_key                         0
date                                 0
country_code                         0
country_name                         0
new_confirmed                  3159884
new_deceased                   3162543
cumulative_confirmed           3159884
cumulative_deceased            3162543
population                      328224
population_male                 706992
population_female               706992
population_age_00_09            922896
population_age_10_19            922896
population_age_20_29            922896
population_age_30_39            922896
population_age_40_49            922896
population_age_50_59            922896
population_age_60_69            922896
population_age_70_79            922896
population_age_80_and_older     922896
latitude                        265824
longitude                       265824
area_sq_km                     1178736
average_temperature_celsius     364864
minimum_temperature_celsius     364935
maximum_temperature_celsius     364918
rainfall_mm                     417437
relative_humidity               365369
dtype: int64

In [9]:
df_columnas_filtradas = df_filtrado[columnas_filtradas.index]
print(df_columnas_filtradas.head())

    location_key       date country_code country_name  new_confirmed  \
367           AR 2021-01-02           AR    Argentina         7767.0
368           AR 2021-01-03           AR    Argentina         4934.0
369           AR 2021-01-04           AR    Argentina        13953.0
370           AR 2021-01-05           AR    Argentina        14085.0
371           AR 2021-01-06           AR    Argentina        14496.0

     new_deceased  cumulative_confirmed  cumulative_deceased  population  \
367         166.0             1670634.0              46688.0  44938712.0
368         157.0             1675568.0              46845.0  44938712.0
369         157.0             1689521.0              47002.0  44938712.0
370         160.0             1703606.0              47162.0  44938712.0
371         131.0             1718102.0              47293.0  44938712.0

     population_male  ...  population_age_70_79  population_age_80_and_older  \
367       19523766.0  ...             1817557.0                     994030.0
368       19523766.0  ...             1817557.0                     994030.0
369       19523766.0  ...             1817557.0                     994030.0
370       19523766.0  ...             1817557.0                     994030.0
371       19523766.0  ...             1817557.0                     994030.0

     latitude  longitude  area_sq_km  average_temperature_celsius  \
367     -34.0      -64.0   2780400.0                    27.740741
368     -34.0      -64.0   2780400.0                    21.956790
369     -34.0      -64.0   2780400.0                    24.894444
370     -34.0      -64.0   2780400.0                    20.104938
371     -34.0      -64.0   2780400.0                    20.919753

     minimum_temperature_celsius  maximum_temperature_celsius  rainfall_mm  \
367                    18.098765                    33.962963     0.000000
368                    17.950617                    33.456790    13.144500
369                    18.072222                    30.244444     1.498600
370                    16.135802                    30.685185     8.286750
371                    13.290123                    26.580247     5.108222

     relative_humidity
367          43.581350
368          74.880846
369          60.805923
370          72.972595
371          52.241997

[5 rows x 28 columns]

In [10]:
df_columnas_filtradas.shape

(7537296, 28)

In [ ]:
# Llenar valores nulos a nivel de país utilizando la media
# df_llenado = df_columnas_filtradas.groupby('country_name').apply(lambda group: group.fillna(group.mean())).reset_index(drop=True)

# Mostrar el DataFrame después de llenar los valores faltantes
# print(df_llenado.head())

In [17]:
for columna in df_columnas_filtradas.select_dtypes(include=[np.number]).columns:
    df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
print(df_columnas_filtradas)

C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))
C:\Users\54116\AppData\Local\Temp\ipykernel_16364\4252894874.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_columnas_filtradas[columna] = df_columnas_filtradas.groupby('country_name')[columna].transform(lambda x: x.fillna(x.mean()))

         location_key       date country_code country_name  new_confirmed  \
367                AR 2021-01-02           AR    Argentina    7767.000000
368                AR 2021-01-03           AR    Argentina    4934.000000
369                AR 2021-01-04           AR    Argentina   13953.000000
370                AR 2021-01-05           AR    Argentina   14085.000000
371                AR 2021-01-06           AR    Argentina   14496.000000
...               ...        ...          ...          ...            ...
12136772  PE_UCA_0401 2022-09-13           PE         Peru      39.534956
12136773  PE_UCA_0401 2022-09-14           PE         Peru      39.534956
12136774  PE_UCA_0401 2022-09-15           PE         Peru      39.534956
12136775  PE_UCA_0401 2022-09-16           PE         Peru      39.534956
12136776  PE_UCA_0401 2022-09-17           PE         Peru      39.534956

          new_deceased  cumulative_confirmed  cumulative_deceased  population  \
367         166.000000          1.670634e+06         46688.000000  44938712.0
368         157.000000          1.675568e+06         46845.000000  44938712.0
369         157.000000          1.689521e+06         47002.000000  44938712.0
370         160.000000          1.703606e+06         47162.000000  44938712.0
371         131.000000          1.718102e+06         47293.000000  44938712.0
...                ...                   ...                  ...         ...
12136772      1.785453          1.557608e+04          1271.119724      2860.0
12136773      1.785453          1.557608e+04          1271.119724      2860.0
12136774      1.785453          1.557608e+04          1271.119724      2860.0
12136775      1.785453          1.557608e+04          1271.119724      2860.0
12136776      1.785453          1.557608e+04          1271.119724      2860.0

          population_male  ...  population_age_70_79  \
367            19523766.0  ...             1817557.0
368            19523766.0  ...             1817557.0
369            19523766.0  ...             1817557.0
370            19523766.0  ...             1817557.0
371            19523766.0  ...             1817557.0
...                   ...  ...                   ...
12136772           1477.0  ...                  46.0
12136773           1477.0  ...                  46.0
12136774           1477.0  ...                  46.0
12136775           1477.0  ...                  46.0
12136776           1477.0  ...                  46.0

          population_age_80_and_older   latitude  longitude  area_sq_km  \
367                          994030.0 -34.000000 -64.000000   2780400.0
368                          994030.0 -34.000000 -64.000000   2780400.0
369                          994030.0 -34.000000 -64.000000   2780400.0
370                          994030.0 -34.000000 -64.000000   2780400.0
371                          994030.0 -34.000000 -64.000000   2780400.0
...                               ...        ...        ...         ...
12136772                          9.0  -9.798611 -70.753333     17847.0
12136773                          9.0  -9.798611 -70.753333     17847.0
12136774                          9.0  -9.798611 -70.753333     17847.0
12136775                          9.0  -9.798611 -70.753333     17847.0
12136776                          9.0  -9.798611 -70.753333     17847.0

          average_temperature_celsius  minimum_temperature_celsius  \
367                         27.740741                    18.098765
368                         21.956790                    17.950617
369                         24.894444                    18.072222
370                         20.104938                    16.135802
371                         20.919753                    13.290123
...                               ...                          ...
12136772                    31.777778                    21.722222
12136773                    19.675371                    14.613590
12136774                    19.675371                    14.613590
12136775                    19.675371                    14.613590
12136776                    19.675371                    14.613590

          maximum_temperature_celsius  rainfall_mm  relative_humidity
367                         33.962963     0.000000          43.581350
368                         33.456790    13.144500          74.880846
369                         30.244444     1.498600          60.805923
370                         30.685185     8.286750          72.972595
371                         26.580247     5.108222          52.241997
...                               ...          ...                ...
12136772                    36.722222    16.256000          62.040723
12136773                    23.641764     1.456305          65.430362
12136774                    23.641764     1.456305          65.430362
12136775                    23.641764     1.456305          65.430362
12136776                    23.641764     1.456305          65.430362

[7537296 rows x 28 columns]

In [18]:
# Guardar el DataFrame filtrado en un archivo CSV
df_columnas_filtradas.to_csv('DatosFinalesFiltrado.csv', index=False)